
/* CSS Document */
#Principal{
background-color: rgba(133,180,27,1.00)
	}
.Tit{
	background-color: transparent;
}
#Secundario{
	background-color: rgba(121,155,40,0.76);
}
#Datos{
background-color: rgba(133,180,27,0.49)
	}
